$mainColor: #6cafb0;
$secondColor: #198587;
$gold: #ffd700;
$white-color: #ffffff;
$black-color: #231f20;
$body-color: #f3f3f9;
$text-color: #555555;
$transition: all 0.3s ease-in-out;
$shadow: 0px 2px 4px #00000020;
$BigShadow: 0px 8px 24px #00000020;

@font-face {
  font-family: SF_Regular;
  font-display: swap;
  src: url(../font/SF_Regular.ttf);
}
// @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap");
* {
  // font-family: "IBM Plex Sans Arabic", sans-serif;
  font-family: "SF_Regular", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
}
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  // background-color: #eee;
  border-radius: 0px !important;
}
::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  outline: none;
  border-radius: 20px !important;
}
:target {
  scroll-margin-top: 50px;
}
a {
  text-decoration: none;
  transition: $transition !important;
  color: $secondColor;
}
a:hover {
  text-decoration: none;
  color: $secondColor;
}
button:focus {
  outline: 0;
}
.row {
  margin: 0px;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.btn:focus {
  box-shadow: none;
}
body {
  background-color: $body-color;
}
content {
  min-height: 50vh;
  position: relative;
  display: block;
}
.select2-container--default .select2-selection--single {
  min-height: 48px;
  display: flex;
  align-items: center;
  border-color: #ced4da;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  left: 1px;
  right: unset;
  top: 50%;
  transform: translateY(-50%);
}
span.select2.select2-container.select2-container--default {
  width: 100% !important;
}
.select2-results__option--selectable {
  border-radius: 4px;
  margin-bottom: 2px;
  transition: $transition;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $mainColor !important;
  color: $white-color !important;
}
.select2-dropdown {
  border-radius: 4px;
  box-shadow: $BigShadow !important;
  border-color: transparent;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 10px 20px;
}
// .select2-container {
//   z-index: 1060;
// }
.form-control {
  min-height: 48px;
  box-shadow: none !important;
  color: #777;
}
.swiperContainer {
  position: relative;
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-pagination {
    width: auto !important;
    left: 50% !important;
    transform: translateX(-50%);
    background-color: transparent;
    border-radius: 4px;
    padding: 0px 10px;
    transition: $transition;
    .swiper-pagination-bullet {
      transition: $transition;
      width: 16px;
      border-radius: 4px;
      opacity: 0.3;
      background-color: $mainColor;
      margin: 2px !important;
    }
    .swiper-pagination-bullet-active {
      background-color: $mainColor;
      width: 40px;
      opacity: 1;
      transition: $transition;
    }
  }
}
.swiperBtns {
  position: relative;
  display: flex;
  .swiper-pagination {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    position: relative;
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    color: $mainColor;
    .swiper-pagination-current {
      font-size: 30px;
      font-weight: bold;
      margin: 0px 8px;
    }
    .swiper-pagination-total {
      font-size: 20px;
      margin: 0px 8px;
      opacity: 0.6;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    right: unset;
    top: unset;
    left: unset;
    bottom: unset;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mainColor;
    width: auto;
    transition: $transition;
    &::after {
      font-size: 40px;
      font-family: "remixicon";
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
    &:hover {
      color: $secondColor;
    }
  }
  .swiper-button-next {
    right: unset;
    &::after {
      content: "\ea6c" !important;
    }
  }
  .swiper-button-prev {
    &::after {
      content: "\ea6c" !important;
      transform: scaleX(-1);
    }
  }
}
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
.fancybox__caption {
  text-align: center;
}
// custom cursor
@media (min-width: 768px) {
  .customCursor {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid #44444430;
    transition: all 120ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 999999;
  }
  .customCursorInner {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #44444490;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.3s, height 0.3s, opacity 0.3s;
    z-index: 999999;
  }
  .customHover {
    width: 70px;
    height: 70px;
    border-color: transparent;
    background-color: #44444430;
    box-shadow: 0px 0px 30px #00000010;
  }
  .customClick {
    width: 40px;
    height: 40px;
  }
}
.odometer-inside {
  direction: ltr !important;
}
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
.btn {
  padding: 8px 16px;
  border-radius: 4px;
  transition: $transition;
  // clip-path: polygon(
  //   10px 0,
  //   calc(100% + 10px) 0,
  //   calc(100% - 10px) 100%,
  //   -10px 100%
  // );
  // &:hover {
  //   clip-path: polygon(
  //     0 0,
  //     100% 0,
  //     100% 100%,
  //     0 100%
  //   );
  // }
}

.btn-outline-success {
  border-color: $secondColor;
  color: $secondColor;
  &:hover {
    background-color: $mainColor;
    border-color: $mainColor;
  }
}
.btn-success {
  border-color: $mainColor;
  background-color: $secondColor;
  color: $white-color;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  .navbar {
    transition: $transition;
    background: $white-color;
    box-shadow: $BigShadow;
    .logo {
      padding: 0px 20px;
      border-radius: 4px;
      img {
        height: 70px;
        object-fit: contain;
        transition: $transition;
        // @media (max-width: 768px) {
        //   height: 60px;
        // }
      }
      .logoWhite {
        display: none;
      }
    }
    .navbar-nav {
      gap: 2px;
      .nav-item {
        .nav-link {
          padding: 8px 12px;
          max-width: 200px;
          margin: auto;
          color: $secondColor;
          position: relative;
          isolation: isolate;
          @media (max-width: 1200px) {
            margin-bottom: 10px;
            text-align: center;
          }
          &.btn {
            color: $white-color;
            margin: auto;
            border: none;
          }
        }
      }
    }
  }
  .headerAnimate {
    @media (min-width: 1200px) {
      background: linear-gradient(#ffffff00, #ffffff00) !important;
      backdrop-filter: blur(4px) !important;
      box-shadow: none;
      .logo {
        .logoNormal {
          display: none;
        }
        .logoWhite {
          display: block;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $white-color;
          }
        }
      }
    }
  }
}
.mainSlider {
  position: relative;
  .mainSliderContainer {
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    .swiper-slide {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: center;
      height: 100vh;
      isolation: isolate;
      @media (max-width: 768px) {
        height: 550px;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(60deg, #2c91936d 10%, #2c9193 90%);
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        transition: $transition;
      }
      .info {
        padding-right: 120px;
        max-width: 700px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media (max-width: 768px) {
          justify-content: center;
          padding: 20px;
          text-align: center;
        }
        .sliderTitle {
          color: $white-color;
          font-weight: bold;
          line-height: 40px;
          font-size: 32px !important;
          @media (max-width: 768px) {
            font-size: 24px !important;
            line-height: 34px;
          }
        }
        .hint {
          color: $white-color;
        }
        .btns {
          display: flex;
          padding-top: 20px;
          gap: 10px;
          @media (max-width: 768px) {
            justify-content: center;
          }
          .btn {
            background-color: $secondColor;
            color: $white-color;
            border: 2px solid $mainColor;
            padding: 12px 24px;
          }
        }
      }
    }
  }
  .swiper-slide-active {
    .sliderTitle {
      animation: fadeInUp 1s 0.75s both;
    }
    .hint {
      animation: fadeInUp 1s 0s both;
    }
    .btn {
      animation: fadeInUp 1s 1.5s both;
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translateZ(0);
    }
  }
  .swiperBtns {
    position: absolute;
    top: calc(50% - 20px);
    left: 0;
    width: 100%;
    justify-content: space-between;
    @media (max-width: 768px) {
      display: none;
    }
    .swiper-button-next,
    .swiper-button-prev {
      &:hover {
        color: $white-color;
      }
    }
  }
}
.sectionTitle {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  h1 {
    font-weight: bold;
  }
  p {
    color: $text-color;
  }
}
.aboutUs {
  padding: 50px 0;
  @media (max-width: 768px) {
    padding: 20px 0;
  }
  .aboutImage {
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 20px;
    height: 100%;
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 50%;
      right: 50%;
      max-width: 400px;
      background-color: $mainColor;
      transform: translateX(50%) translateY(-50%);
      z-index: -1;
      animation: animateTwo 10s linear infinite alternate forwards;
    }
    img {
      animation: animateOne 10s linear infinite alternate forwards;
      height: 100%;
      width: 100%;
      aspect-ratio: 5/4;
      object-fit: cover;
      max-width: 500px;
    }
    @keyframes animateOne {
      0%,
      to {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
      }
      14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
      }
      28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
      }
      42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
      }
      56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
      }
      70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
      }
      84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
      }
    }
    @keyframes animateTwo {
      0%,
      to {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
      }
      14% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
      }
      28% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
      }
      42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
      }
      56% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
      }
      70% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
      }
      84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
      }
    }
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 16px;
    padding: 20px 0;
    .feature {
      flex: 1;
      min-width: 150px;
      width: 100%;
      padding: 16px;
      border-radius: 8px;
      background-color: $secondColor;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      isolation: isolate;
      .icon {
        padding: 10px;
        display: block;
        // background-color: $secondColor;
        img {
          height: 60px;
          width: 100%;
          object-fit: contain;
          transition: $transition;
        }
      }
      p {
        transition: $transition;
        color: $white-color;
      }
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0px;
        width: 100%;
        height: 0px;
        background-color: $white-color;
        border-radius: 8px;
        transform: translateX(-50%);
        transition: $transition;
        z-index: -1;
        box-shadow: $BigShadow;
      }
      &:hover {
        p {
          color: $secondColor;
        }
        &::before {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
.services {
  padding: 50px 0px;
  .sectionTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }
  .swiper-wrapper {
    padding: 30px 0px;
    .swiper-slide {
      height: auto;
    }
  }
  .service {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 12px;
    background-color: $white-color;
    padding: 24px 16px;
    border-radius: 16px;
    position: relative;
    isolation: isolate;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0px;
      width: 5px;
      height: 2px;
      background-color: $mainColor;
      border-radius: 16px;
      transform: translateX(-50%);
      transition: $transition;
      z-index: -1;
    }
    img {
      height: 70px;
      width: 100%;
      object-fit: contain;
      filter: grayscale(1);
      opacity: 0.2;
      margin-bottom: 8px;
      transition: $transition;
    }
    h4 {
      font-weight: bold;
      color: $secondColor;
      transition: $transition;
    }
    p {
      color: $text-color;
      transition: $transition;
    }
    &:hover {
      img {
        opacity: 1;
      }
      h4 {
        color: $white-color;
      }
      p {
        color: $white-color;
      }
      &::before {
        height: 100%;
        width: 100%;
        background-color: $secondColor;
      }
    }
  }
}
.countries {
  padding: 100px 0;
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  .allCountries {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px 24px;
    padding-top: 100px;
    @media (max-width: 768px) {
      gap: 60px 12px;
    }
    .country {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      padding: 20px;
      border-radius: 20px;
      background-color: $white-color;
      min-width: 200px;
      text-align: center;
      border: 1px dashed #d1d1d1;
      position: relative;
      isolation: isolate;
      @media (max-width: 768px) {
        min-width: 150px;
      }
      .flag {
        margin-top: -70px;
        @media (max-width: 768px) {
          margin-top: -50px;
        }
        img {
          aspect-ratio: 3/2;
          height: 100px;
          object-fit: cover;
          object-position: center;
          border-radius: 20px;
          border: 4px solid $white-color;
          @media (max-width: 768px) {
            height: 80px;
          }
        }
      }
      h4 {
        font-weight: bold;
      }
      p {
        color: $text-color;
      }
      a {
        margin-top: auto;
      }
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0px;
        width: 100%;
        height: 0px;
        background-color: $body-color;
        border-radius: 16px;
        transform: translateX(-50%);
        transition: $transition;
        z-index: -1;
      }
      &:hover {
        &::before {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.requirements {
  padding: 50px 0;

  .requirement {
    background: linear-gradient(-45deg, #2c9193, #00595b);
    height: 100%;
    padding: 30px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    h4 {
      font-weight: bold;
      color: $white-color;
    }
    h6 {
      color: $body-color;
      a {
        color: $white-color;
        font-weight: bold;
      }
    }
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      margin-top: auto;
      list-style: none;
      gap: 32px 20px;
      flex-wrap: wrap;
      padding-top: 16px;

      li {
        display: flex;
        align-items: center;
        flex: 1;
        width: 100%;
        min-width: 250px;
        gap: 8px;
        .icon {
          min-width: 48px;
          border-radius: 8px;
          height: 48px;
          background-color: $mainColor;
          color: $white-color;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: 24px;
          }
        }
        p {
          color: $body-color;
        }
      }
    }
  }
}

.testimonials {
  padding: 70px 0;
  background-color: $white-color;

  .testimonialsSlider {
    padding-top: 40px;
  }
  .singleItem {
    .itemComment {
      border: 2px solid $body-color;
      background-color: $body-color;
      padding: 30px 20px;
      border-radius: 10px;
      position: relative;
      min-height: 150px;
      p {
        color: #000;
      }
      &:before {
        top: 100%;
        right: 50%;
        content: " ";
        height: 30px;
        width: 30px;
        position: absolute;
        background-color: $body-color;
        bottom: -20px;
        border-radius: 4px;
        transform: scaleX(-1) translateX(-50%) translateY(-50%) rotate(45deg);
      }
    }
    .clientInfo {
      display: flex;
      align-items: center;
      padding: 30px;
      flex-direction: column;
      gap: 8px;
      img {
        display: block;
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
        border: 2px solid $secondColor;
      }
      h5 {
        text-transform: uppercase;
        color: $secondColor;
        font-weight: bold;
      }
    }
  }
}

.contactUs {
  padding: 70px 0;
  @media (max-width: 768px) {
    padding: 40px 0;
  }

  form {
    box-shadow: $shadow;
    background-color: $white-color;
    padding: 20px;
    border-radius: 16px;
    position: relative;
    // backdrop-filter: blur(4px);
    .form-control {
      background-color: transparent;
      border-color: #1d71b847;
    }
    .form-label {
      color: #555;
      i {
        color: $mainColor;
      }
    }
  }

  .contactInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .info {
      background-color: $white-color;
      margin: 8px 0;
      padding: 20px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      transition: $transition;
      position: relative;
      i {
        min-width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border-radius: 100px;
        border: 1px dashed $mainColor;
        color: $mainColor;
        transition: $transition;
      }
      h6 {
        font-weight: bold;
        color: #777;
        margin-bottom: 8px;
        font-size: small;
      }
      &:hover {
        box-shadow: $BigShadow;
        z-index: 2;
        i {
          background-color: #1d71b830;
        }
      }
    }
  }
  .googleMap {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: none;
    min-height: 250px;
  }
}

.faq {
  padding: 40px 0;
  .accordion {
    .accordion-button {
      &:not(.collapsed) {
        background-color: $secondColor;
        color: $white-color;
        box-shadow: none !important;
        &::after {
          filter: invert(1);
        }
      }
    }
    ul {
      list-style: auto;
      margin: 0;
      li {
        margin-bottom: 20px;
        color: #777;
      }
    }
    p {
      color: #777;
    }
  }
}

.banner {
  background: linear-gradient(0deg, #2c91936d 10%, #2c9193e7 90%),
    url(../img/about.jpg);
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  text-align: center;

  h1 {
    font-weight: bold;
    color: $white-color;
    font-size: 40px !important;
    padding-top: 50px;
    @media (max-width: 768px) {
      font-size: 30px !important;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
    padding: 0;
    li {
      padding: 10px 20px;
      padding-left: 15px;
      position: relative;
      &:last-child {
        &::after {
          display: none;
        }
      }
      &::after {
        content: "";
        width: 10px;
        height: 2px;
        background-color: $white-color;
        position: absolute;
        left: -5px;
        top: calc(50% - 1px);
      }

      a {
        color: $white-color;
      }
    }
  }
}
.inputField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  label {
    display: flex;
    align-items: center;
    gap: 8px;
    i {
      font-size: 20px;
      color: $secondColor;
    }
  }
  input {
    min-height: 56px;
    min-width: 150px;
  }
  ::placeholder {
    font-size: 13px;
  }
}
.trackOrder {
  padding: 50px 0;
  img {
    height: 300px;
    // width: 100%;
    display: block;
    object-fit: contain;
    @media (max-width: 768px) {
      height: 200px;
    }
  }
  form {
    background-color: $white-color;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
  }
}
.formWimg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.authPages {
  padding: 30px 0;
  .row {
    max-width: 1000px;
    margin: auto;
  }
  form {
    background-color: $white-color;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
  }

  .pageImg {
    width: 100%;
    object-fit: contain;
    max-height: 400px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    text-align: center;

    .links {
      display: flex;
      align-items: flex-end;
      width: calc(100% - 40px);
      justify-content: center;
      gap: 24px;
      border-bottom: 2px solid #dddddd;
      .link {
        color: $black-color;
        font-weight: bold;
        padding-bottom: 20px;
        position: relative;
        font-size: 18px;
        @media (max-width: 768px) {
          font-size: 16px;
        }

        &.active {
          color: $secondColor;
          font-weight: bold;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background-color: $secondColor;
          }
        }
      }
    }
    p {
      color: $text-color;
    }

    .logo {
      img {
        height: 100px;
        object-fit: contain;
      }
    }
  }
}

.otp {
  padding: 50px 0;
  text-align: center;
  form {
    max-width: 500px;
    margin: auto;
    img {
      max-height: 200px !important;
    }
    input {
      text-align: center;
    }
  }
}
.modal-backdrop {
  --bs-backdrop-opacity: 0.8;
  transition: $transition;
}

.worker {
  position: relative;
  display: block;
  img {
    width: 100%;
    aspect-ratio: 6 / 7;
    // object-fit: contain;
    border-radius: 8px;
    max-width: 400px;
  }
  .more {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #198587e3;
    border-radius: 8px;
    color: $white-color;
    opacity: 0;
    transition: $transition;
  }
  .job {
    position: absolute;
    left: -2px;
    top: -2px;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 100% 100%;
    border: 1px solid $secondColor;
    background-color: $body-color;
    color: $secondColor;
    padding: 8px 20px 16px;
    z-index: 2;
    text-align: center;
  }
  &:hover {
    span {
      opacity: 1;
    }
  }
}

.cv {
  position: relative;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  .mainImg {
    img {
      width: 100%;
      height: 300px;
      object-fit: contain;
      background-color: $body-color;
      border-radius: 8px;
      border: 1px solid $body-color;
    }
  }
  .moreImgs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: $body-color;

    img {
      width: 100%;
      max-width: 70px;
      height: 70px;
      border-radius: 4px;
      object-fit: cover;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    flex: 1;
    margin: auto;
    width: 100%;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      border-radius: 16px;
      display: flex;
      flex-wrap: wrap;
      gap: 24px 16px;
      li {
        display: inline-flex;
        flex-direction: column;
        gap: 4px;
        border-radius: 4px;
        min-width: 160px;
        @media (max-width: 768px) {
          min-width: 140px;
        }

        .title {
          color: #777;
          white-space: nowrap;
        }
        .data {
          color: $black-color;
          font-weight: bold;
          white-space: nowrap;
        }
      }
    }
    .alertText {
      color: red;
    }
  }
}
.cvModal {
  padding-top: 24px;
  .modal-content {
    border-radius: 24px;
    padding: 24px;
    @media (max-width: 768px) {
      padding: 24px 12px;
    }
  }
  .closeBtn {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: $black-color;
    border: 2px solid $white-color;
    border-radius: 100px;
    display: flex;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    transform: translate(10px, -50%);
    i {
      font-size: 24px;
      color: $white-color;
    }
  }
  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 20px;
    .btn{
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
.fancybox__container {
  z-index: 1999;
}
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
/* PC device :992px. */
@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
  a,
  p {
    font-size: 14px;
  }
}
/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 992px) {
  /* Global */
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
  a,
  p {
    font-size: 14px;
  }
}
/* small mobile :320px. */
@media (max-width: 768px) {
  /* Global */
  body {
    font-size: 13px;
  }
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
  a,
  p {
    font-size: 14px;
  }
}
